*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: #f1f1f1;
}

.table-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    padding: 15px;
}

.table-container > *{
    flex-basis: 250px;
    flex-shrink: 1;   
    /* adding font */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
}


/* Creating style for table headers */
.table-content-header{
    color: #fff;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
}

.table-content-header > h1{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
}

.table-content-header > p{
    font-size: 0.7rem;
    text-align: center;
    text-wrap: wrap;
    padding-top: 10px;
}

/* Creating gradient in header of table items */

.low-price > .table-content-header{
    background: hsla(210, 90%, 80%, 1);
    background: linear-gradient(315deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 71%);
    background: -moz-linear-gradient(315deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 71%);
    background: -webkit-linear-gradient(315deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 71%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9fccfa", endColorstr="#0974f1", GradientType=1 );
}

.med-price > .table-content-header{
    background: hsla(165, 89%, 31%, 1);
    background: linear-gradient(135deg, hsla(165, 89%, 31%, 1) 0%, hsla(165, 87%, 32%, 1) 59%, hsla(161, 99%, 45%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(165, 89%, 31%, 1) 0%, hsla(165, 87%, 32%, 1) 59%, hsla(161, 99%, 45%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(165, 89%, 31%, 1) 0%, hsla(165, 87%, 32%, 1) 59%, hsla(161, 99%, 45%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#099773", endColorstr="#0B9874", GradientType=1 );
}

.big-price > .table-content-header{
    background: hsla(33, 100%, 53%, 1);
    background: linear-gradient(135deg, hsla(33, 100%, 53%, 1) 0%, hsla(41, 100%, 59%, 1) 78%, hsla(58, 100%, 68%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(33, 100%, 53%, 1) 0%, hsla(41, 100%, 59%, 1) 78%, hsla(58, 100%, 68%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(33, 100%, 53%, 1) 0%, hsla(41, 100%, 59%, 1) 78%, hsla(58, 100%, 68%, 1) 100%); 
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ff930f", endColorstr="#FFBF30", GradientType=1 );
}

/* Edititng main content of table */

.table-content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-text{
    text-align: center;
    padding: 10px 0;
    font-size: 3rem;
}

.dollar-sign{
    font-weight: normal;
    font-size: 1.5rem;
    vertical-align: top;
}

.permonth-sign{
    font-weight: normal;
    font-size: 1rem;
    vertical-align: bottom;
}

.table-content-main hr{
    width: 70px
}

.table-content-main > ul{
    padding: 10px 10px 20px 20px;
}

li{
    padding-left: 10px;
}

/* Styles for list markers */

.table-content-main > ul > li::marker{
    content: '♥';
}

.big-price  li::marker{
    color: orange;
}
.med-price  li::marker{
    color: seagreen;
}
.low-price  li::marker{
    color: lightskyblue;
}


/* Button styles */

button.button-buy {
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    color: #fff;
    transition: transform .3s linear;
}

.low-price button.button-buy{
    background: hsla(210, 90%, 80%, 1);
    background: linear-gradient(315deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 71%);
    background: -moz-linear-gradient(315deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 71%);
    background: -webkit-linear-gradient(315deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 71%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9fccfa", endColorstr="#0974f1", GradientType=1 );
}

.med-price button.button-buy{
    background: hsla(165, 89%, 31%, 1);
    background: linear-gradient(135deg, hsla(165, 89%, 31%, 1) 0%, hsla(165, 87%, 32%, 1) 59%, hsla(161, 99%, 45%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(165, 89%, 31%, 1) 0%, hsla(165, 87%, 32%, 1) 59%, hsla(161, 99%, 45%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(165, 89%, 31%, 1) 0%, hsla(165, 87%, 32%, 1) 59%, hsla(161, 99%, 45%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#099773", endColorstr="#0B9874", GradientType=1 );
}

.big-price button.button-buy{
    background: hsla(33, 100%, 53%, 1);
    background: linear-gradient(135deg, hsla(33, 100%, 53%, 1) 0%, hsla(41, 100%, 59%, 1) 78%, hsla(58, 100%, 68%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(33, 100%, 53%, 1) 0%, hsla(41, 100%, 59%, 1) 78%, hsla(58, 100%, 68%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(33, 100%, 53%, 1) 0%, hsla(41, 100%, 59%, 1) 78%, hsla(58, 100%, 68%, 1) 100%); 
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ff930f", endColorstr="#FFBF30", GradientType=1 );
}

button.button-buy:hover,
button.button-buy:focus {
    outline: none;
    box-shadow: 0 0.5em 0.5em -0.4em black; 
    transform: translateY(-0.25em);
} 

.low-price button.button-buy:hover,
.low-price button.button-buy:focus{
    box-shadow: 0 0.5em 0.5em -0.4em #89BFF8;
}
.med-price button.button-buy:hover,
.med-price button.button-buy:focus{
    box-shadow: 0 0.5em 0.5em -0.4em #04CF91;
}
.big-price button.button-buy:hover,
.big-price button.button-buy:focus{
    box-shadow: 0 0.5em 0.5em -0.4em #FFD742;
}

button.button-buy:active {
    transform: translateY(0.25em)
}